/* html */
/* html */
/* html */
/* html */
/* html */

html {
  background-color: rgb(236, 188, 245);
  /* background-color: rgb(236, 188, 245); */
}

body{
  padding: 0;
  margin: 0;
}

/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */




/* .header {
  width: 100%;
  background-color: rgb(248, 248, 241);
}

.header img{
  width: 80%;
  display: block;
  margin: auto;
  
}

.navbar {
  padding: 0px 0px;
  color: rgb(248, 248, 241);
  background-color: rgb(248, 248, 241);
  border-bottom: 3px black solid;
  border-top: 3px black solid;
}

.navbar h4{
  margin: auto;
}

.navbar button{
  background-color: rgb(236, 188, 245);
  border: solid rgb(236, 188, 245) 1px;
  font-size: 16px;
  padding-left: 7px;
  margin: 0;
}

#cartEmoji{
  background-color: rgb(236, 188, 245);
  font-size: 16px;
  padding-left: 7px;
  margin: 0;
  float: right;
}

.navbar .menu h4{
  padding: 3px;
}
.navbar .menu {
  padding-bottom: 0px;
  background-color: rgb(236, 188, 245);
}

.navbar .hidden {
  display: none;
} */


/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */

.navbar-brand img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-brand{
  width: 150px;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid {
  background-color: rgb(248, 248, 241);
}



/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */

.bowCard {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(236, 188, 245);
  color: rgb(248, 248, 241);
  width: 250px;
  height: 320px;
  text-align: center;
  margin: 25px auto;
  
}
.bowCard img {
  width: 100%;
  height: 60%;
  margin: 0px;
  border-bottom: 5px rgb(0, 0, 0) solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bowCard h6{
  margin: 10px;
}

.bowCard h3{
  margin: 10px;
}
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */

.bowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */

.bowPage {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 240, 248);
  width:80%;
  min-width: 250px;
  text-align: center;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bowPage img {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  border: 2px black solid;
  border-radius: 5px;
}

.bowPageData {
  margin: 15px auto;
  padding: 5px;
}

.bowPageData h2 {
  margin: 15px auto;
}

.bowPageData h4 {
  margin: 3px 15px;
}

.bowPageDatah h6{
  margin: 0px auto;
}

.bowPageData button{
  margin: 10px auto;
}

#outOfStockHeader {
  border-bottom: 2px solid rgb(236, 188, 245);
  color: rgb(236, 188, 245);
}


/* edit bow from */
/* edit bow from */
/* edit bow from */
/* edit bow from */
/* edit bow from */

.editForm {
  border: 1px black solid;
}

.editForm img {
  width: 300px;
}

/* add new bow form */
/* add new bow form */
/* add new bow form */
/* add new bow form */
/* add new bow form */

.addNewBowForm {
  border: 1px black solid;
}

/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */

.searchBar {
  color: rgb(236, 188, 245);
  text-align: center;
  margin: 0px;
  /* background-color: rgb(236, 188, 245); */
}

.searchBar label{
  margin: 0px 5px;
}

/* login card */
/* login card */
/* login card */
/* login card */
/* login card */

.formCard {
  border: 5px rgb(236, 188, 2457) solid;
  border-radius: 15px;
  width: 70%;
  margin: 25px auto;
  text-align: center;
  padding: 20px;
}

.formCard input{
  margin: 5px;
}

.formCard button{
  margin: 5px;
}

.formCard h1 {
  color: rgb(236, 188, 245);
}

/* Cart Item */
/* Cart Item */
/* Cart Item */
/* Cart Item */
/* Cart Item */

.cartItem {
  border: black 1px solid;
  display: flex;
  margin: 15px 35px;
}

.cartItem form{
  margin: auto;
}

.cartItem h4{
  margin: auto;
}

.cartItem button{
  margin: auto;
}