/* html */
/* html */
/* html */
/* html */
/* html */

html {
  background-color: rgb(154, 200, 230);
}


/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */

.bowCard {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 240, 248);
  width:250px;
  height: 300px;
  text-align: center;
  margin: 25px auto;
}
.bowCard img {
  width: 90%;
  height: 60%;
  margin: 5px;
  border: 2px black solid;
  border-radius: 5px;
}

.bowCard h6{
  margin: 10px;
}

.bowCard h3{
  margin: 10px;
}
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */

.bowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */

.bowPage {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 240, 248);
  width:80%;
  min-width: 250px;
  text-align: center;
  margin: 25px auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bowPage img {
  width: 70%;
  max-width: 500px;
  margin: 25px auto 10px auto;
  border: 2px black solid;
  border-radius: 5px;
}

.bowPageData {
  
  margin: 15px auto;
  padding: 5px;
}

.bowPageData h2 {
  margin: 15px auto;
}

.bowPageData h4 {
  margin: 3px 15px;
}

.bowPageDatah h6{
  margin: 0px auto;
}

.bowPageData button{
  margin: 10px auto;
}
