/* html */
/* html */
/* html */
/* html */
/* html */

html {
  background-color: rgb(255, 197, 238);
}

body{
  padding: 0;
  margin: 0;
}

/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */
/* HEADERS */




.header {
  width: 100%;
  
  background-color: rgb(252, 250, 242);
  border-bottom: 10px rgb(95, 206, 73) solid;
}

.header img{
  width: 50%;
  display: block;
  margin: auto;
}

.login {
  margin-bottom: 10px;
}





/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */
/* Bow cards  */

.bowCard {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 250, 242);
  width:250px;
  height: 300px;
  text-align: center;
  margin: 25px auto;
  
}
.bowCard img {
  width: 90%;
  height: 60%;
  margin: 5px;
  border: 2px black solid;
  border-radius: 5px;
}

.bowCard h6{
  margin: 10px;
}

.bowCard h3{
  margin: 10px;
}
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */
/* Bow container */

.bowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */
/* Bow Page */

.bowPage {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 240, 248);
  width:80%;
  min-width: 250px;
  text-align: center;
  margin: 25px auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bowPage img {
  width: 70%;
  max-width: 500px;
  margin: 25px auto 10px auto;
  border: 2px black solid;
  border-radius: 5px;
}

.bowPageData {
  
  margin: 15px auto;
  padding: 5px;
}

.bowPageData h2 {
  margin: 15px auto;
}

.bowPageData h4 {
  margin: 3px 15px;
}

.bowPageDatah h6{
  margin: 0px auto;
}

.bowPageData button{
  margin: 10px auto;
}


/* edit bow from */
/* edit bow from */
/* edit bow from */
/* edit bow from */
/* edit bow from */

.editForm {
  border: 1px black solid;
}

.editForm img {
  width: 300px;
}

/* add new bow form */
/* add new bow form */
/* add new bow form */
/* add new bow form */
/* add new bow form */

.addNewBowForm {
  border: 1px black solid;
}

/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */